#
# Copy and rename this file to .env at root of this project.
#

# A common use case is to supply database creds via the environment. Edit settings.php
# like so:
#
# $databases['default']['default'] = [
#   'database' => getenv('MYSQL_DATABASE'),
#   'driver' => 'mysql',
#   'host' => getenv('MYSQL_HOSTNAME'),
#   'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
#   'password' => getenv('MYSQL_PASSWORD'),
#   'port' => getenv('MYSQL_PORT'),
#   'prefix' => '',
#   'username' => getenv('MYSQL_USER'),
# ];
#
# Uncomment and populate as needed.
MYSQL_DATABASE="{{ drupal_db_name }}"
MYSQL_HOSTNAME="{{ drupal_db_host }}"
MYSQL_PASSWORD="{{ drupal_db_password }}"
MYSQL_PORT=3306
MYSQL_USER="{{ drupal_db_user }}"

# Another common use case is to set Drush's --uri via environment.
# DRUSH_OPTIONS_URI=http://example.com

# For running kernel tests in custom modules, the SIMPLETEST_DB needs to be set.
# Setting for DDEV-Local:
# SIMPLETEST_DB="mysql://{{ drupal_db_user }}:{{ drupal_db_password }}@{{ drupal_db_host }}/{{ drupal_db_name }}"
